*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
html{
  scroll-behavior: smooth;
}
body{
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.8;
  background: #E6E6FA;
}
#banner{
  background: url(./img/p1.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.banner-text{
  text-align: center;
  color: #F0F8FF;
  padding-top: 180px;
}
.banner-text h1{
  font-size: 130px;
}
.banner-button{
  margin: 70px auto 0;
}
.banner-button a{
  width: 150px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  margin: 0 10px;
  padding: 12px 0;
  color: #F0F8FF;
  border: .5px solid #F0F8FF;
}
#profile{
  width: 100%;
  padding: 70px 0;
}
.title-text{
  text-align: center;
  padding-bottom: 70px;
  color: #2F4F4F;
}
.title-text p{
  text-align: left;
  margin: auto;
  font-size: 15px;
  color: #36648B;

  z-index: 1;
  display: inline-block;
  padding-left: 20%;
  padding-right: 20%;
}
.title-text h2{
  font-size: 50px;

}
.title-text h3{
  font-size: 20px;
}

#profile{
  width: 100%;
  padding: 70px 0;
}
.profile-row{
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.profile-col{
  flex-basis: 50%;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0 10px 20px 3px #00968814;
}
