*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.8;
  color: #2F4F4F;
 }
html{
  scroll-behavior: smooth;
}

nav{
  position: fixed;
  background: #1b1b1b;
  width: 100%;
  padding: 10px 0;
}
nav .menu{
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.menu .logo a{
  text-decoration: none;
  color: #E6E6FA;
  font-size: 35px;
  font-weight: 600;
}
.menu ul{
  display: inline-flex;
}
.menu ul li{
  list-style: none;
  margin-left: 7px;
}
.menu ul li a{
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  color: #E6E6FA;
  padding: 8px 15px;
}
.image{
  background: url(./img/background.jpg);
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}
.banner{
  position: absolute;
  top: 52%;
  left: 50%;
  width: 100%;
  transform: translate(-50%,-50%);
  padding: 0 20px;
  text-align: center;
}
.banner h1{
  color: #E6E6FA;
  font-size: 50px;
  font-weight: 600;
}
.tool{
  text-align: center;
  font-size: 50px;
}
.tool ul{
  display: inline-flex;
}
.tool ul li{
  list-style: none;
  align-items: center;
}
.tool ul li a{
  padding: 20px 35px;
}

.fb h2{
  text-align: center;
  font-size: 50px;
}
.fb p{
  text-align:left;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

#profile{
  width: 100%;
  padding: 70px 0;
  background: #E6E6FA;
}
.teamprofile{
  text-align: center;
  padding-bottom: 70px;
}
.teamprofile p{
  text-align: left;
  margin: auto;
  font-size: 15px;
  z-index: 1;
  display: inline-block;
  padding-left: 20%;
  padding-right: 20%;
}
.teamprofile h2{
  font-size: 50px;

}
.teamprofile h3{
  font-size: 20px;
}
.teamname img{
  width: 200px;
  height: 200px;
  display: inline-block;
  padding: 5px;
}
.profile-row{
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.profile-col{
  flex-basis: 50%;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0 10px 20px 3px #00968814;
}


#idea{
  width: 100%;
  padding: 70px 0;
  background: #E6E6FA;
  text-align: center;
  padding-bottom: 70px;
}
.project h2{
  font-size: 50px;
}
.overview h3{
  font-size: 30px;
  font-weight: bold;
}
.overview p{
  text-align:left;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.motivation h3{
  font-size: 30px;
  font-weight: bold;
}
.motivation p{
  text-align:left;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.descript h3{
  font-size: 30px;
  font-weight: bold;
}
.descript h4{
  font-size: 20px;
  font-style: italic;
  font-style:
}
.descript p{
  text-align:left;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.toolntech h3{
  font-size: 30px;
  font-weight: bold;
}
.toolntech p{
  text-align:left;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.des ul{
  display: inline-flex;
}
.des ul li{
  list-style: none;
  align-items: center;
}
.outcome h3{
  font-size: 30px;
  font-weight: bold;
}
.outcome p{
  text-align:left;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}


#tech{
  width: 100%;
  padding: 70px 0;
  background: #E6E6FA;
  text-align: center;
  padding-bottom: 70px;
}
.it h2{
  font-size: 50px;
}
.ai h3{
  font-size: 30px;
  font-weight: bold;
}
.ai p{
  text-align:left;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.ai-row{
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.ai-col{
  flex-basis: 50%;
  padding: 50px;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 20px 3px gray;
}
.cloud h3{
  font-size: 30px;
  font-weight: bold;
}
.cloud p{
  text-align:left;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.cloud-row{
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.cloud-col{
  flex-basis: 50%;
  padding: 50px;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 20px 3px gray;
}

#pro{
  width: 100%;
  padding: 70px 0;
  background: #E6E6FA;
  text-align: center;
  padding-bottom: 70px;
}
.profe h2{
  font-size: 50px;
}
.content h3{
  font-size: 20px;
}
.content h4{
  font-size: 15px;
  text-align: left;
}
.content p{
  text-align: left;
  margin: auto;
  font-size: 15px;
  color: #36648B;
}
.inf p{
  text-align: center;
  margin: auto;
  font-size: 15px;
  font-weight: bold;
  color: #36648B;
}
